# Database credentials
DB_NAME=db_canastra
DB_USER=postgres

DB_PASSWORD=<type_your_password_here>
DB_HOST=localhost
DB_PORT=5432

# DEBUG
DEBUG=True

#MODEL_INSTANCES
DEFAULT_INSTANCES=3
EXPERIENCIA_PROFISSIONAL_INSTANCES=3
CURSO_EXTRA_CURRICULAR_INSTANCES=3
IDIOMA_INSTANCES=3
RECUPERACAO_URL=<your_recovery_url_here>
RECUPERACAO_API_KEY=<your_api_key_here>
