{% extends 'master.html' %}
{% load static %}
{% block conteudo %}
  <main>
    {% for hub in hubs %}
      <section class="imagemgrande-section">
        <a href="{% url 'core:hub_detalhe' nome_hub=hub.nome_hub %}" class="imagemgrande-link">
          <div class="imagemgrande-container">
            {% if hub.foto_hub %}
              <img src="{{ hub.foto_hub.url }}" alt="{{ hub.nome_hub }}" class="imagemgrande-background" />
            {% else %}
              <img src="{% static 'img/default-hub.jpg' %}" alt="{{ hub.nome_hub }}" class="imagemgrande-background" />
            {% endif %}
            <div class="imagemgrande-content">
              <h1>{{ hub.nome_hub }}</h1>

            </div>
          </div>
        </a>
      </section>
    {% empty %}
      <p>Nenhum hub disponível no momento.</p>
    {% endfor %}
  </main>

  <script src="{% static 'js/scripts.js' %}"></script>
  
{% endblock %}

